<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spark</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/spark-global.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/spark-doc.css">
  <link rel="author" href="humans.txt">
</head>
<nav class="header">
    <div class="logo_svg"></div>
    <h1 class="logo">Spark <span class="logo__thin">Doc</span></h1>
    <ul class="menu">
      <div class="menu__item toggle"><span></span></div>
      <li class="menu__item"><a href="https://github.com/pxscene/Spark" class="link link--dark"><i class="fa fa-github"></i> GitHub</a></li>
      <li class="menu__item"><a href="{{ site.baseurl }}blog.html" class="link link--dark"><i class="fa fa-file"></i> Blog</a></li>
      <li class="menu__item"><a href="{{ site.baseurl }}index.html" class="link link--dark"><i class="fa fa-home"></i> Home</a></li>
    </ul>
  </nav>