<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spark - an awesome application engine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/spark-global.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/spark-landing.css">
    <link rel="author" href="humans.txt">

    <nav> 
        <div class="logo"></div>
        <ul class="menu">
            <div class="menu__item toggle"><span></span></div>
            <li class="menu__item"><a href="{{ site.baseurl }}docs/doc.html" class="link link--dark"><i class="fa fa-book"></i> Documentation</a></li>
            <li class="menu__item"><a href="{{ site.baseurl }}blog.html" class="link link--dark"><i class="fa fa-file"></i> Blog</a></li>
            <li class="menu__item"><a href="https://github.com/pxscene/Spark" class="link link--dark"><i class="fa fa-github"></i> GitHub</a></li>
        </ul>
    </nav>
</head>